<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlMotivo</servlet-name>
        <servlet-class>Controlador.ControlMotivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlReceta</servlet-name>
        <servlet-class>Controlador.ControlReceta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCita</servlet-name>
        <servlet-class>Controlador.ControlCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoCita</servlet-name>
        <servlet-class>Controlador.ControlTipoCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUsuario</servlet-name>
        <servlet-class>Controlador.ControlUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUsuarios</servlet-name>
        <servlet-class>Controlador.ControlUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPais</servlet-name>
        <servlet-class>Controlador.ControlPais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAdmin</servlet-name>
        <servlet-class>Controlador.ControlAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlConsulta</servlet-name>
        <servlet-class>Controlador.ControlConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDepartamento</servlet-name>
        <servlet-class>Controlador.ControlDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCiudad</servlet-name>
        <servlet-class>Controlador.ControlCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlMotivo</servlet-name>
        <url-pattern>/ControlMotivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlReceta</servlet-name>
        <url-pattern>/ControlReceta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCita</servlet-name>
        <url-pattern>/ControlCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoCita</servlet-name>
        <url-pattern>/ControlTipoCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUsuario</servlet-name>
        <url-pattern>/ControlUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUsuarios</servlet-name>
        <url-pattern>/ControlUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPais</servlet-name>
        <url-pattern>/ControlPais</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAdmin</servlet-name>
        <url-pattern>/ControlAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlConsulta</servlet-name>
        <url-pattern>/ControlConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDepartamento</servlet-name>
        <url-pattern>/ControlDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCiudad</servlet-name>
        <url-pattern>/ControlCiudad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <servlet-mapping>
            <servlet-name>ControlPais</servlet-name>
            <url-pattern>/ControlPais</url-pattern>
        </servlet-mapping>
    </session-config>
</web-app>
